{% extends 'main/base.html' %}
{% block content %}
<section class="section about-section gray-bg" id="about">
    <div class="container">
        <div class="row align-items flex-row">
            <div class="col-lg-6">
                <div class="about-avatar">
                    {% load static %}
                    <img src="{% static 'profile_pic.jpeg' %}" height="100%" width="100%" class="rounded"/>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h2 class="dark-color">About Carlos Kosala</h2>
                    <p>
                        We at Carlos Kosala find properties and provide bridge between potential buyers and sellers.
                    </p>
                </div>
                <hr>
                <div class="row about-list">
                    <h4 class="dark-color">Contact Information</h4>
                    <div class="col-md-12">
                        <div class="media">
                            <label>Phone</label>
                            <p>469-354-1459</p>
                        </div>
                        <div class="media">
                            <label>E-mail</label>
                            <p>ck_realestate@gmail.com</p>
                        </div>
                        <div class="media">
                            <label>Address</label>
                            <p>70th plaza, Omaha 68106, Nebraska, USA</p>
                        </div>
                    </div>
                </div>
                <hr>
                <form>
                    <h4 class="dark-color">Contact Information</h4>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Name</label>
                      <input type="text" class="form-control" id="exampleInputName" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Message</label>
                      <textarea type="text" class="form-control" id="exampleInputMessage" placeholder="Message for Carlos Kosala" rows="4"></textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Send Message</button>
                  </form>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>

{% endblock %}