{% extends 'main/base.html' %}
{% block content %}
<section class="section about-section gray-bg" id="about">
    <div class="container">
        <div class="row">
            <a class="col col-md-2 offset-md-11 btn btn-primary" href="logout">Logout</a>
        </div>
        <div class="row align-items flex-row">
            <h1 class="col col-md-9">Welcome to Admin Dashboard of CK Real Estate</h1>
            <p>Here, you can add and alter propertie of properties</p>
        </div>
    </div>
    </div>
    </div>
</section>

{% endblock %}