{% extends 'main/base.html' %}
{% block content %}

<p class="fs-4 text-center">
  Get ready to find your dream house from the market leader, Carlos Kosala.
  <br>
  We offer variety of properties around Omaha.
</p>

<hr>

<h1>Featured Property</h1>

{% load static %}
<div class="card">
  <img class="d-block w-100" src="{% static 'attraction_1.jpg' %}" alt="The Old Market" />
  <div class="card-body">
    <h5 class="card-title">Desirable properties near Aksarben/Elmwood Park</h5>
    <p class="card-text">Discover your dream home in Omaha’s charming Elmwood Park neighborhood—where timeless elegance
      meets modern convenience, just steps from scenic trails, top schools, and vibrant community life!</p>
    <a href="#" class="btn btn-dark">Read More</a>
  </div>
</div>
{% endblock %}
